body {
    background: url("../images/worldBackground.jpg");
  }

#title {
    margin: auto;
    text-align: center;
    background: linear-gradient(blue, yellow);
    color: white;
    font-size: 450%;
    width: 40%;
    border-radius: 15px;
}

#subwrapper {
    margin: auto;
    margin-top: 5%;
    padding-top: 20px;
    text-align: center;
    color:white;
    background: linear-gradient(blue, rgb(231, 231, 7));
    width: 80%;
    border-radius: 15px;
    opacity: 0.9;
}

#startButton, #resetButton {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:yellow;
    color: white;
    border: 6px solid rgb(61, 61, 216);
    border-radius: 20px;
    font-size: 300%;
    padding: 16px 32px;
}

#resetButton {
    display: none;
    margin-left: 43%;
}

#startButton:hover, #resetButton:hover {
    background-color: rgb(147, 151, 199);
    color: white;
}


#counter {
    position:fixed;
    font-size: 290%;
    background-color:yellow;
    color: white;
    border: 6px solid rgb(61, 61, 216);
    border-radius: 15px;
    padding: 30px;
}

